---
extends: default

ignore: |
  .build/
  mac-app/.build/
  mac-daemon/.build/

rules:
  document-start: disable
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values:
      - "true"
      - "false"
      - "on"
      - "off"
